<div class="container">
  <h1 id="javascript">Hello</h1>

  <ul>
    <% @tracks.each do |track| %>
      <li>
        <%= track.title %>
        <%= link_to "download", download_single_path(url: track.product_link, title: track.title) %>
      </li>
    <% end %>
  </ul>
  <p>
    <%= link_to "download zip", zip_path %> <i style="color: green">(Working but only with local files)</i>
  </p>
  <p>
    <%= link_to "download multiple files", download_multiple_path %> <i style="color: red">(Not Working)</i>
  </p>
</div>

<script>
  const title = document.getElementById('javascript');
  console.log(title);
</script>
